@startuml {{ diagram_name }}

!$colors = {{ colors|tojson }}

{#
legend right
    |Color|Type|
    {% for row in legend %}
        |{{ row.color }}|{{ row.parent }}|
    {% endfor %}
endlegend

{% for package in packages %}
package {{ package.name }} <<Rectangle>> {
    {% for object in package.objects %}
        object {{ object.name }} {{ object.color }}
    {% endfor %}
}
{% endfor %}
{% for reference in references %}
{{ reference.source }} --> {{ reference.destination }} : {{ reference.field }}
{% endfor %}
#}
@enduml