@startuml {{ diagram_name }}

!$colors = {{ colors|tojson }}

legend right
    |Color|Type|
    {% for type in colors -%}
    |<$colors.{{ type }}>|{{ type }}|
    {% endfor %}
endlegend

{% for key in packages -%}
package {{ key }} <<Rectangle>> {
    {% for object in packages[key] -%}
    object {{ object.name }} $colors.{{ object.type }}
    {% endfor %}
}

{% endfor %}

{%- for reference in references -%}
{{ reference.source }} --> {{ reference.destination }} : {{ reference.field }}
{% endfor %}
@enduml